
OLD_INSTANCE_NAME="YOUR_OLD_INSTANCE_NAME"
NEW_INSTANCE_NAME="YOUR_NEW_INSTANCE_NAME
AWS_REGION="YOUR_AWS_REGION"
AMI_ID="YOUR_AMI_ID"
INSTANCE_TYPE="YOUR_INSTANCE_TYPE"

KEY_NAME_1="YOUR_KEY_NAME_1"
KEY_NAME_2="YOUR_KEY_NAME_2"

PEM_FILE_1="YOUR_PEM_FILE_1"
PEM_FILE_2="YOUR_PEM_FILE_2"

S3_BUCKET="YOUR_S3_BUCKET"

INSTANCE_NAME_1="YOUR_INSTANCE_NAME_1"
INSTANCE_NAME_2="YOUR_INSTANCE_NAME_2"


